bin/
obj/
build/
*.bin
*.c!
*.elf
*.h!
*.hdd
*.img
*.iso
*.log
*.o
*.d
*.gcda
*.gcno
*.gcov
*.gcov.json.gz
.DS_Store
*.gcda
*.gcno
*.gcov
*.gcov.json.gz
.vscode/
bochsout.txt
core
usermode
!src/usermode/
!src/usermode/*
!src/usermode/
.zig-cache/
zig-out/
com1.log,append=on
