EDITOR_ENABLED=yes
INTERFACE_BRANDING=meniOS 0.0.2
TIMEOUT=3
VERBOSE=yes

# The entry name that will be displayed in the boot menu.
:Start meniOS
    # We use the Limine boot protocol.
    PROTOCOL=limine

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///kernel.elf

# Same thing, but without KASLR.
:Start meniOS without KASLR
    PROTOCOL=limine
    # Disable KASLR (it is enabled by default for relocatable kernels)
    KASLR=no

    KERNEL_PATH=boot:///kernel.elf
